<form>
  <mat-form-field appearance="outline">
    <mat-label>Your Location</mat-label>
    <input matInput />
  </mat-form-field>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="temp">
    <th mat-header-cell *matHeaderCellDef>Max Temperature</th>
    <td mat-cell *matCellDef="let element">{{ element.max_temp }}</td>
  </ng-container>

  <ng-container matColumnDef="feels">
    <th mat-header-cell *matHeaderCellDef>Min Temperature</th>
    <td mat-cell *matCellDef="let element">
      {{ element.min_temp }}
    </td>
  </ng-container>

  <ng-container matColumnDef="precip">
    <th mat-header-cell *matHeaderCellDef>Precipitation(%)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.precip }}
    </td>
  </ng-container>

  <ng-container matColumnDef="humidity">
    <th mat-header-cell *matHeaderCellDef>Humidity</th>
    <td mat-cell *matCellDef="let element">
      {{ element.humidity }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
